:root {
  --primary-color-01: #F9EBF9;
  --primary-color-05: #4A154B;
  --light-neutral-gray-04: #B8B8B8;
  --white-color: #FFFFFF;

}

button {
  border: none;
  background: none;
}


.xs {
  height: 32px;
  min-width: 64px;
}

.xs:disabled {
  height: 32px;
  min-width: 64px;
}

.sm {
  height: 40px;
  min-width: 64px;
}

.sm:disabled {
  height: 40px;
  min-width: 64px;
}

.md {
  height: 48px;
  min-width: 64px;
}

.md:disabled {
  height: 48px;
  min-width: 64px;
}

.lg {
  height: 56px;
  min-width: 64px;
}

.lg:disabled {
  height: 56px;
  min-width: 64px;
}


.primary {
  padding: 4px 16px;
  background: var(--primary-color-05);
  border-radius: 4px;
  color: var(--white-color);
  border: none;
  cursor: pointer;
  position: relative;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--white-color);
  gap: 10px;

}

.primary[disabled] {
  padding: 4px 16px;
  border-radius: 4px;
  background: var(--light-neutral-gray-04);
  color: var(--white-color);
  border: none;
  position: relative;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  cursor: default;
  pointer-events: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--white-color);
  gap: 10px;
}

.secondary {
  padding: 4px 16px;
  position: relative;
  background: var(--white-color);
  border: 1px solid var(--primary-color-05);
  border-radius: 4px;
  cursor: pointer;
  color: var(--primary-color-05);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--primary-color-05);
  gap: 10px;
}

.secondary:hover {
  background: var(--primary-color-01);
}

.secondary[disabled] {
  padding: 4px 16px;
  position: relative;
  background: none;
  border: 1px solid var(--light-neutral-gray-04);
  color: var(--light-neutral-gray-04);
  border-radius: 4px;
  cursor: default;
  pointer-events: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--light-neutral-gray-04);
  gap: 10px;
}


.tertiary {
  padding: 4px 16px;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--primary-color-05);
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--primary-color-05);
  gap: 10px;
}

.tertiary:hover {
  background: var(--primary-color-01);
  border-radius: 4px;
}

.tertiary[disabled] {
  color: var(--light-neutral-gray-04);
  background: none;
  cursor: default;
  pointer-events: auto;
  cursor: default;
  pointer-events: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 16px;
  gap: 10px;
  fill: var(--light-neutral-gray-04);
}

.full-width {
  width: 100%;
}

.full-width:disabled {
  width: 100%;
}

.rounded {
  border-radius: 50px !important;
}

.rounded:disabled {
  border-radius: 50px;
}