:root {
    --primary-color-05: #4A154B;
    --error-color-05: #DA2D20;
    --light-neutral-gray-08: #666666;
    --light-neutral-gray-04: #B8B8B8;
    --light-neutral-gray-09: #525252;
    --light-neutral-gray-01: #F0F0F0;
    --primary-color-01: #F9EBF9;
    --primary-color-03: #cd54cf;
}

.with-icon-checkbox-sm {
    width: 16px;
    height: 16px;
}

.with-icon-checkbox-lg {
    width: 20px;
    height: 20px;
}

.checkbox-wrapper {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.with-icon-checkbox-primary {
    -webkit-appearance: none;
    appearance: none;
    border: 2px solid var(--light-neutral-gray-08);
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    position: relative;
}

.with-icon-checkbox-primary:hover {
    box-shadow: 0 0 0 12px var(--light-neutral-gray-01);
    position: relative;

}

.with-icon-checkbox-primary:checked {
    background-color: var(--primary-color-05);
    position: relative;
    border: none;
}

.with-icon-checkbox-primary:active {
    box-shadow: 0 0 0 12px var(--primary-color-01);
    cursor: pointer;
}

.with-icon-checkbox-primary::before {
    content: "";
    position: absolute;
    right: 50%;
    top: 50%;
    width: 4px;
    height: 10px;
    border: 2px solid white;
    border-width: 0 2px 2px 0;
    margin: -1px -1px 0 -1px;
    transform: rotate(45deg) translate(-50%, -50%);
    z-index: 2;
    cursor: pointer;
}

.with-icon-checkbox-primary:disabled {
    background-color: #f0f0f0;
    border: 2.5px solid var(--light-neutral-gray-08);
}

.with-icon-checkbox-primary:checked:disabled {
    background-color: var(--light-neutral-gray-04);
    position: relative;
    border: none;
}


/* Error Variation */

.with-icon-checkbox-error {
    -webkit-appearance: none;
    appearance: none;
    border: 2px solid var(--error-color-05);
    outline: none;
    cursor: pointer;
    border-radius: 4px;
}

.with-icon-checkbox-error:hover {
    box-shadow: 0 0 0 12px var(--light-neutral-gray-01);
    position: relative;

}

.with-icon-checkbox-error:checked {
    background-color: var(--error-color-05);
    position: relative;
    border: none;
}

.with-icon-checkbox-error:active {
    box-shadow: 0 0 0 12px var(--primary-color-01);
    cursor: pointer;
}

.with-icon-checkbox-error::before {
    content: "";
    position: absolute;
    right: 50%;
    top: 50%;
    width: 4px;
    height: 10px;
    border: 2px solid white;
    border-width: 0 2px 2px 0;
    margin: -1px -1px 0 -1px;
    transform: rotate(45deg) translate(-50%, -50%);
    z-index: 2;
    cursor: pointer;
}

.with-icon-checkbox-error:disabled {
    background-color: #f0f0f0;
    border: 2.5px solid var(--light-neutral-gray-08);
}

.with-icon-checkbox-error:checked:disabled {
    background-color: var(--light-neutral-gray-04);
    position: relative;
    border: none;
}


/* dot Icon and variant primary  */
.without-icon-checkbox-sm {
    width: 16px;
    height: 16px;
}

.without-icon-checkbox-lg {
    width: 20px;
    height: 20px;
}

.without-icon-checkbox-sm::before {
    width: 8px;
    height: 8px;
}

.without-icon-checkbox-lg::before {
    width: 12px;
    height: 12px;
}

.without-icon-checkbox-primary {
    appearance: none;
    -webkit-appearance: none;
    border: 2px solid var(--primary-color-05);
    cursor: pointer;
    border-radius: 4px;
    position: relative;
}

.without-icon-checkbox-primary:hover {
    box-shadow: 0 0 0 12px var(--light-neutral-gray-01);
    position: relative;
}

.without-icon-checkbox-primary:checked {
    background-color: white;
}

.without-icon-checkbox-primary:active {
    box-shadow: 0 0 0 12px var(--primary-color-01);
    cursor: pointer;
}

.without-icon-checkbox-primary:checked:before {
    content: '';
    display: block;
    position: absolute;
    background-color: var(--primary-color-05);
    transform: none;
    top: 2px;
    right: 2px;
}

.without-icon-checkbox-primary:disabled {
    background-color: white;
    border: 2px solid var(--light-neutral-gray-04);
}

.without-icon-checkbox-primary:disabled::before {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: var(--light-neutral-gray-04);
    transform: none;
    border: none;
}


/* Without--Icon--Checkbox--Error --variation */

.without-icon-checkbox-error {
    appearance: none;
    -webkit-appearance: none;
    border: 2px solid var(--error-color-05);
    cursor: pointer;
    border-radius: 4px;
    position: relative;
}

.without-icon-checkbox-error:hover {
    box-shadow: 0 0 0 12px var(--light-neutral-gray-01);
    position: relative;
}

.without-icon-checkbox-error:checked {
    background-color: white;
}

.without-icon-checkbox-error:active {
    box-shadow: 0 0 0 12px var(--selectedCheckbox);
    cursor: pointer;
}

.without-icon-checkbox-error:checked:before {
    content: '';
    display: block;
    position: absolute;
    background-color: var(--error-color-05);
    transform: none;
    top: 2px;
    right: 2px;
}

.without-icon-checkbox-error:disabled {
    background-color: white;
    border: 2px solid var(--light-neutral-gray-04);
}

.without-icon-checkbox-error:disabled::before {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: var(--light-neutral-gray-04);
    transform: none;
    border: none;
}

.checkbox-label {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--light-neutral-gray-09);
}


/* Focused state  */

.with-icon-checkbox-primary:focus-visible{
    outline: 2px solid var(--primary-color-03);
    outline-offset: 4px;
    border-radius: 2px;
}
.with-icon-checkbox-error:focus-visible{
    outline: 2px solid var(--primary-color-03);
    outline-offset: 4px;
    border-radius: 2px;
}

.without-icon-checkbox-primary:focus-visible{
    outline: 2px solid var(--primary-color-03);
    outline-offset: 4px;
    border-radius: 2px;
}
.without-icon-checkbox-error:focus-visible{
    outline: 2px solid var(--primary-color-03);
    outline-offset: 4px;
    border-radius: 2px;
}


.horizontal{
    display: flex;
    gap: 15px;
}